extends layout 

block content
    h1= title

    if author_list.length 
        ul 
            each author in author_list 
                li
                    a(href=author.url) #{author.name}
                    if author.date_of_birth
                        |;  Born: #{author.dob_formatted}
                        if author.date_of_death
                            |,   Died: #{author.dod_formatted}
    else
        p No authors available.