extends layout 

block content 
    h1= title 
    if book_list.length 
        ul(class='bookList')
            each book in book_list 
                li(class='bookListItem')
                    img(src=book.cover || '/images/bookIcon.jpg', width='248', height='248')
                    br
                    a(href=book.url) #{book.title}
                    |   -   #{book.author.name}
    else 
        p There are no books at the moment.