extends layout 
block append head
    script(src="/javascripts/bookList.js" defer) 
    link(rel="stylesheet", href="/stylesheets/style.css")
block content 
    h1= title 
    section 
        p Filters
        each genre in genres 
            input(type="radio", name=genre.id, class='filter_checkbox') 
            label(for=genre.id) #{genre.name}
        button(type='button', id='filterbtn' disabled) Apply filters

    if book_list.length 
        div.container
            each book in book_list 
                a(href=book.url)
                    div.item.booklink(name=book.genre)
                        img(src=book.cover || '/images/bookIcon.jpg', alt="Book Cover")
                        p.booklink
                            i
                                |   #{book.author.name}
                                |   - #{book.title}
    if pages 
        div.pagenav
            div.pagenum
                if paginate.hasPreviousPages    
                    a.page-nav(href=paginate.href(true))
                        i
                            | Previous&nbsp;
                each page in pages  
                    a.btn.btn-primary(href=page.url)= page.number
                if paginate.hasNextPages(pageCount)
                    a.page-nav(href=paginate.href())
                        i
                            | Next&nbsp;
    else 
        p There are no books at the moment.