extends layout 
block append head 
  link(rel="stylesheet",href="/stylesheets/carousel.css")
block append sidebar 
  if undefined!==user_url
    li(style='list-style-type:none;')
      a(href='/login/'+user_url) My REAL profile niggaa
block content 
  h1= title 
  p Welcome to #[em LocalLib], the place where you can find all of the books you've been searching for! 
    - const urls = ['/bookCovers/book_cover-1711095215704-764726407.jpg','/bookCovers/book_cover-1711095150773-938607417.jpg','/bookCovers/book_cover-1711096942420-979096160.jpg']
    - const aUrls = ['/authorPics/author_photo-1711365143173-669724715.jpg','/authorPics/author_photo-1711554407948-635268941.jpg','/authorPics/default_pic.jpeg']
  .container
      .slider-wrapper
        .slider
          each val, idx in urls
            img(id=idx, src=val, alt="Book cover")
        .slider-nav
          each val, idx in urls
            a(href=`#${idx}`)
      .slider-wrapper
        .slider
          each val, idx in aUrls
            img(id=`a${idx}`, src=val, alt="Book cover")
        .slider-nav
          each val, idx in aUrls
            a(href=`#a${idx}`)
  h1 Dynamic count of records: 

  ul 
    li #[strong Books:] !{book_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
    li #[strong Copies:] !{bookinstance_count}
    li #[strong Copies available:] !{avl_bookinstance_count}