extends layout 
block append head 
  link(rel="stylesheet",href="/stylesheets/carousel.css")
block append sidebar 
  if undefined!==user_url
    li(style='list-style-type:none;')
      a(href='/login/'+user_url) My REAL profile niggaa
block content 
  h1= title 
  p Welcome to #[em LocalLib], the place where you can find all of the books you've been searching for! 
  
  ol(class="carousel") 
    li 
      img(src="/bookCovers/book_cover-1711095215704-764726407.jpg", alt="Book cover")
    //-the carousel lies here
  h1 Dynamic count of records: 

  ul 
    li #[strong Books:] !{book_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
    li #[strong Copies:] !{bookinstance_count}
    li #[strong Copies available:] !{avl_bookinstance_count}